[submodule "WolkGatewayModule-SDK-Cpp"]
	path = WolkGatewayModule-SDK-Cpp
	url = https://github.com/Wolkabout/WolkGatewayModule-SDK-Cpp.git
[submodule "WolkModbus"]
	path = WolkModbus
	url = git@github.com:nvuletic/WolkModbus
